<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<body>

<section th:fragment="quotes" id="quotes">
    <div class="container text-center mt-4 pt-4" >
        <div class="row">

            <div class="col-md-4">
                <i class="fas fa-quote-left fa-2s text-info"></i>
                <p class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, commodi consectetur ea excepturi itaque magni neque pariatur provident quis reprehenderit rerum saepe sed tempora tenetur veniam vero voluptatem. Deserunt, quae?</p>
                 <footer class="blockquote-footer">David Huston</footer>
            </div>
            <div class="col-md-4">
                <i class="fas fa-quote-left fa-2s text-info"></i>
                <p class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, commodi consectetur ea excepturi itaque magni neque pariatur provident quis reprehenderit rerum saepe sed tempora tenetur veniam vero voluptatem. Deserunt, quae?</p>
                <footer class="blockquote-footer">David Huston</footer>
            </div>

            <div class="col-md-4">
                <i class="fas fa-quote-left fa-2s text-info"></i>
                <p class="blockquote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, commodi consectetur ea excepturi itaque magni neque pariatur provident quis reprehenderit rerum saepe sed tempora tenetur veniam vero voluptatem. Deserunt, quae?</p>
                <footer class="blockquote-footer">David Huston</footer>
            </div>
        </div>
    </div>
</section>

</body>
</html>