<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<body>

<section th:fragment="userHead">
    <div id="image" class="jumbotron jumbotron-fluid text-light">
        <div class="container">
            <h1 class="display-3">Angular School</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, blanditiis culpa cupiditate dolore eaque excepturi, facilis fuga incidunt iure necessitatibus pariatur recusandae repellendus reprehenderit sit voluptatum. Adipisci cum dicta dolores.</p>
        </div>
        <a href="#" class="btn bg-success btn-lg ">Sign Up Here!</a>
    </div>

</section>

</body>
</html>